@import url("https://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 10%;
  gap: 10px;
}

.nav ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav .links2 {
  text-decoration: none;
}

.nav .links3 {
  text-decoration: none;
}

.footer {
  border-radius: 8px;
  border-color: black;
  border-style: outset;
  height: 15%;
}

.footer h3 {
  margin: auto;
  padding: 20px;
}

/* Items list */
.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  gap: 30px;
  font-size: 150%;
}

.items-list li {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* width: 290px; */
  width: 25%;
  gap: 15px;
  margin-bottom: 40px;
}

.likes {
  align-self: flex-end;
}

.comments,
.reservations {
  background-color: transparent;
  padding: 7px 0;
  box-shadow: 5px 5px;
}

.comments {
  width: 50%;
}

.reservations {
  width: 60%;
}

.details {
  position: fixed;
  inset: 0;
  display: none;
  flex-direction: column;
  background: #834c95;

  /* mix-blend-mode: multiply; */
  backdrop-filter: blur(15px);
  z-index: 2;
  font-weight: bolder;
  font-size: 30px;
}

.pop-body {
  background-color: #fff;
  width: 90%;
  height: 100vh;
  margin: 10px auto;
  padding: 0 16px;
  border-radius: 16px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.pop-body img {
  margin-top: 20px;
}

.delete-popup {
  width: 12px;
  height: 12px;
  right: 10%;
  top: 4%;
  position: absolute;
  background-image: url(../images/pop-cancel.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.show-details {
  width: 90%;
}

.show-details-1,
.show-details-2 {
  display: flex;
  gap: 40%;
  font-size: 70%;
  justify-content: flex-start;
}

.show-details-1 span,
.show-details-2 span {
  min-width: 200px;
}

/* Linter Requests: Keep Last */
.items-list li img,
.title-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
