@import url("https://fonts.cdnfonts.com/css/cocogoose");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 30px 10%;
  gap: 10px;
}

.nav ul{
  display: flex;
  gap: 10px;
  list-style: none;
}

.nav .links2 {
  text-decoration: none;
}

.nav .links3 {
  text-decoration: none;
}

.footer {
  position: absolute;
  border-radius: 8px;
  border-color: black;
  border-style: outset;
  right: 0;
  left: 0;
  bottom: 0;
  height: 15%;
}

.footer h3 {
  margin: auto;
  padding: 20px;
}